#result{
    -webkit-animation-delay: 1s;
    text-decoration: none;
    color: #7f6cc4;
}
#result:hover{
    color: #5c47a8;
}
#artist{
    color: #4c976b;
}

#search-icon{
    width: 50px;
    margin: 20px; 
}

input {
    font-size: 1.5em;
    border-top-style: none;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 0px;
    border-bottom: 2px solid grey;
  }